.carousel-item {
    max-height: 500px;
}

#espec {
    padding: 20px;
}


div #image2 img {   
    width: 100%;          
}

#espec {   
    width: 40%;          
}

div .image3 img {   
    width: 250PX;          
}

div #image4 img {   
    width: 100%; 
}

#key {
    background-color: rgba(108, 121, 243, 0.911);
}

div .image1 img {   
    width: 300px;          
}

#textk {
    color: white;
}




.contact{
    /* padding: 4%; */
    /* height: 300px; */
}
.col-md-3{
    background: rgba(108, 121, 243, 0.911);
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    text-align: center;
    /* margin-top:10%; */
}
.contact-info img{
    /* margin-bottom: 15%; */
}
.contact-info h2{
    /* margin-bottom: 10%; */
}
.col-md-9{
    background: #fff;
    padding: 3%;
    /* border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; */
}


.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #2c35df;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}



.center{
    background-color: rgba(108, 121, 243, 0.911);
    color: white;
    font-style: italic;
    text-align: center;
}

div .row {
    padding: 50px;
}

p {
    padding: 50px;
}